@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj!</h1>
        Aby zobaczyć widok wszystkich drzew, z możliwością sortowania przejdź do <a asp-controller="Tree" asp-action="Index">Widoku drzew</a>
        <br/>
        Aby dodać nową gałąź, zmienić jej nazwę lub rodzica, przejdź do <a asp-controller="Tree" asp-action="Edit">Edycji drzew</a>
</div>
